.reviews .container {
  padding-top: 44px;
  padding-bottom: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews__item {
  flex: 1;
}

.reviews__item:not(:last-of-type) {
  margin-right: 30px;
}

.reviews__title {
  text-align: center;
  min-width: 100%;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.reviews__item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.reviews__item-title {
  text-align: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  margin-bottom: 11px;
}

.reviews__item:hover .reviews__item-title {
  color: #ff7931;
}

.reviews__item-text {
  text-align: justify;
  line-height: 150%;
}

@media (max-width: 767px) and (min-width: 320px) {
  .reviews__item {
    min-width: 270px;
    flex: 1;
    margin-bottom: 20px;
  }

  .reviews__item:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 0px;
  }

  .reviews__item:not(:last-of-type) .reviews__item-text {
    margin-bottom: 20px;
  }
}
